<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><a routerLink="/main">Elektronika szakszerviz időpont foglalás</a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul *ngIf="(loggedInUser)===null || (loggedInUser)" fxLayout fxLayoutGap="10px" class="navigation-items">
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Belépés</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Regisztráció</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/booking">Foglalás</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/employees">Szervízesek</a></li>
          <li><a routerLink="/contact">Kapcsolat</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()"><mat-icon title="Kijelentkezés">logout</mat-icon></a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
